html {--tint-blue: #0F4C82;--hover-blue: #0D3E69;--tint-teal-dark: #F7F1FF;--tint-teal-light: #F7F1FF;
	--btn-green: #0F4C82;--btn-dark-green: #0D3E69;--btn-light-green: #F7F1FF;
	--btn-orange: #0F4C82;--btn-dark-orange: #0D3E69;--btn-light-orange: #F7F1FF;--btn-support: #37474F;--btn-support-hover: #E9EBEB;
	--seo-btn-border: #cacdfb;
	--guide-color: #0F4C82;--guide-color-hover: #0D3E69;
  --header-submenu-text: #3F4F68;--header-submenu-line: #0F4C82;
	--project-selector-active-text: #3F4F68;
	--add-website-plus-icon: #275E8E;--add-website-plus-icon-hover: #0E4575;
	--active-tab-color: #0F4C82;
	/*--date-picker-active: #0F4C82;--date-picker-hover: #F7F1FF;*/
	--manager-popup-header: #0D3E69;
	--accent-color: #0F4C82;}
